@import url('https://fonts.cdnfonts.com/css/harry-potter');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
button{
    outline: none;
    border: none;
    background: transparent;
}
body{
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins" ,sans-serif ;
    background: #191c29;
    display: flex;
    flex-direction: column;
}
nav{
    margin: 0;
    padding: 0;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1400px; */
    width: 100%;
}
.nav__header{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nev__text{
    font-size: 40px;
    font-family: 'Harry Potter', sans-serif;
    color: chocolate;
}
img{
    width: 95px;
    
}
/*! logo end*/
/*! adaptive navbar start */
.menuOpen{
  color: #fff;
  font-size: 20px;
  display: none;
}
/*! adaptive navbar end */
/*! search start*/
  body, .search__bar {
    display: flex;
  }
  .search__bar input,
  .search-btn, 
  .search-btn:before, 
  .search-btn:after {
    transition: all 0.25s ease-out;
  }
  .search__bar input,
  .search-btn {
    width: 3em;
    height: 3em;
  }
  .search__bar input:invalid:not(:focus),
  .search-btn {
    cursor: pointer;
  }
  .search__bar,
  .search__bar input:focus,
  .search__bar input:valid  {
    width: 250px;
  }
  .search__bar input:focus,
  .search__bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
  }
  .search__bar {
    justify-content: center;
  }
  .search__bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search__bar input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .search__bar input:focus,
  .search__bar input:valid {
    background: chocolate;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em chocolate inset;
    transform: scale(1);
  }
  .search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
  }
  .search-btn:before, 
  .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em chocolate inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
  }
  .search-btn:after {
    background:chocolate;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  /* Active search */
  .search__bar input:focus + .search-btn,
  .search__bar input:valid + .search-btn {
    background: #131313;
    border-top-right-radius: 10px;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
  }
  .search__bar input:focus + .search-btn:before, 
  .search__bar input:focus + .search-btn:after,
  .search__bar input:valid + .search-btn:before, 
  .search__bar input:valid + .search-btn:after {
    opacity: 1;
  }
  .search__bar input:focus + .search-btn:hover,
  .search__bar input:valid + .search-btn:hover,
  .search__bar input:valid:not(:focus) + .search-btn:focus {
    background: #131313;
}
    .search__bar input:focus + .search-btn:active,
    .search__bar input:valid + .search-btn:active {
    transform: translateY(1px);
}
  /*!search end */
 /*! img start */
main{
    display: flex;
}
.main__header{
    width: 100%; 
    height: 70vh;
    background: url(../img/wallpaperflare.com_wallpaper.jpg) no-repeat center /cover ;
}
.main__logo{
    display: flex;
    justify-content: center;
    gap: 115px;
    align-items: center;
}
    .main__img{
    width: 100%;
    
}
/*! img end */
/*! cards start */
.card__header {
    max-width: 80%;
    width: 100%;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}
.card__header img {
    width: 100%;
    border-radius: 20px;
    height: 400px;
    object-fit: cover;
}
.card__main{
    display: flex;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 110px auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



:root {
    --card-height: 500px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
  }
  .card:hover .card__header {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .card__header::before,
  .card__header::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }

  .card__header::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .card__header::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .card__header::before,
  .card__header::after {
    opacity: 1;
  }
  
  .card:hover .card__header::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 80px;
    opacity: 0;
    transition: all 0.5s;
   ;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  
  
/*! cards end */
/* !MODAL */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .overlay.show {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/xz.jpg') no-repeat center /cover ;
    color: #000;
    max-width: 800px;
    width: 100%;
    border-radius: 20px;
    align-items: center;
    display: flex;
    padding: 30px;
    gap: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .modal.show {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal__header {
    width: 50%;
  }
  
  .modal__header img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
  .modal__body-patr{
    margin-bottom: 5px;
    font-weight: 700;
  }
  .modal__body-actor{
    font-weight: 800;
    /* color: chocolate; */
  }
  .modal__body {
    width: 100%;
  }
  
  .modal__body-title {
    /* font-weight: 500; */
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .modal__body-subtitle {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .modal__body-category {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .modal__body-category span {
    font-weight: 300;
    font-size: 14px;
    margin-left: 30px;
  }
  
  .modal__body-price {
    font-weight: 700;
    font-size: 20px;
  }
  
  .close-modal {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }


  .hide{
    opacity: 1;
    
  }
  .hidden {
    opacity: 0;
  }
  header {
    transition: all 5s ease;
  }
/* label{
  display: none;
} */
label input {
  display: none;
}
ul{
  display: none;
}
  /* !MODAL END */
 /* herois star */ 
 .hr-dashed {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px dashed #ddd;
}
 .herois__header{
  margin: 20px;
 }
 .herois__container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100%;
 }
 .vik {
  width: 40%;
  float: left;
  margin-right: 10px;
 }
 .herois__text{
  color: chocolate;
  font-size: calc(10px + 16 * (100vw / 1280));
  padding: 10px;
 }
 /* herois end */
label input {
  display: none;
}
label  {
  display: none;
}
@media screen and (prefers-color-scheme: dark) {
    body, input {
        color: chocolate;
    }
    .search__bar input {
        box-shadow: 0 0 0 0.4em chocolate inset;
    }
    .search__bar input:focus,
    .search__bar input:valid {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: #3d3d3d;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
        background: chocolate;
    }
}

.nav__content{
  display: none;
}

@media (max-width:910px) {
  .modal {
    max-width: 400px; 
  }
  .nav__header{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav__logo  {
    display: none;
}
.main__header{
  display: none;
}
.herois__container{
  display: flex;
  flex-direction: column
}
/* ! hambyrger start */

*, *:before, *:after 
{ box-sizing: border-box; }
html { font-size: 18px; }
label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: chocolate;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #69D2e7;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 30px;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #f38630;
  text-decoration: none;
  font-size: 30px;
  
}

label  {
  display: block;
}
ul{
  display: inline-block;
}
/* ! hambyrger end */

  }
  


